
body{
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    box-sizing: border-box;
    min-height: 100vh;
    background: #11101d;
    animation: rodaCor 5s linear infinite;
}
@keyframes rodaCor{
    0%{
        filter:hue-rotate(0deg);
    }
    100%{
        filter:hue-rotate(360deg);
        
    }
}

.container{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: none;
    text-align: center; 
    color: #fff;  
}
.container h1{
    background: none;
    font-weight: 500;
    font-family: consolas;
    font-size: 45px;
    color: #11101d;
    animation: animate 5s linear infinite;
}
.container h1::before{
    content: attr(data-text);
    position: absolute;
    top: 18.5%;
    left: 10.6%;
    width: 0;
    height: 15.5%;
    color: #3498db;
    border-right: 2px solid #3498db;
    overflow: hidden;
    -webkit-text-stroke: 0vw #383d52;
    animation: animate 6s linear infinite;
}
@keyframes animate{
    0%, 10%, 100%{
        width: 0;
    }
    70%,90%{
        width: 33%;
    }
}


.container input[type="text"],.container input[type="password"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition:0.25s;
}
.container input[type="text"]:focus, .container input[type="password"]:focus{
    width: 280px;
    border-color:#2ecc71;
    background: #fff;
    color: #121212;
}
input:hover{
    background: #2ecc71;
    box-shadow: 0 0 10px #3ffbe0, 0 0 40px #3ffbe0, 0 0 80px #3ffbe0;
    transition-delay: 0.3s;

}
div{
    border-radius: 40px;
}
div:hover{
    color:#19693b;
    box-shadow: 0 0 0px#3498db, 0 0 40px #3498db, 0 0 160px #3498db,  0 0 320px #3498db;
    transition-delay: 0.1s;
}

input[type="button"], input[type="reset"]{
    position:relative;
    display: inline-block;
    padding: 12px 10px;
    color: #2196f3;
    text-transform:uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 12.4px;
    overflow: hidden;
    transition: 0.2s;
    background: none;
    margin-top: 12px;
    border-radius: 18px;
    border-bottom-color: rgb(89, 255, 233);
    font-family: sans-serif;
}
input[type="button"]:hover, input[type="reset"]:hover{
    color:#19693b;
    background: #3ffbe0;
    box-shadow: 0 0 10px #3498db, 0 0 40px #3498db, 0 0 80px #3498db;
    transition-delay: 0.3s;
}
input[type="button"]:focus , input[type="reset"]:focus{
    width: 150px;
}
h2{
    font-size: 15px;
    color: #3498db;
    background: none;
    font-family: sans-serif;
    margin: 0 ;
}

