*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: sans-serif;
}
body{
    display: flex;
}
.container{
    position: absolute;
    width: 250px;
    height: 250px;
    text-align: center;
    background: blue;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
.container .inf{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
 
}
.inf input{
    border-radius: 10px;
    text-align: center;
    border: none;
    padding: 4px 14px;
    margin-bottom: 5px;
}
.container h1{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #fff;
    animation: an 5s linear infinite;
}
@keyframes an{
    0%{
        color: blue;
    }
    50%{
        color: blueviolet;
    }
    100%{
        color: cadetblue;
    }
}
.container .btn{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn input{
    padding: 5px 8px;
    border-radius: 10px;
    border: none;
}